<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <!--<sectionGroup name="pipes" type="System.Configuration.NameValueSectionHandler">
            <section name="pipeSection1" type="System.Configuration.SingleTagSectionHandler" />
            <section name="pipeSection2" type="System.Configuration.SingleTagSectionHandler" />
            <section name="pipeSection3" type="System.Configuration.SingleTagSectionHandler" />
        </sectionGroup>-->
        <section name="pipeTracks" type="DataSimulation.PipeTracksSection, DataSimulation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>

    <connectionStrings>
        <!--  Local use only -->
        <add name="SQLDBConn" connectionString="Data Source=(local);Initial Catalog=MeasureDB;User Id=PipeAdmin;Password=pipe;"
             providerName="System.Data.SqlClient" />
        
        <!--<add name="SQLDBConn" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=MeasureDB;User Id=PipeAdmin;Password=pipe;"
             providerName="System.Data.SqlClient" />-->

        <!-- For Wangbo -->
      <!--<add name="SQLDBConn" connectionString="Data Source=192.168.6.88;Initial Catalog=MeasureDB;User Id=sa;Password=sql_123;"
           providerName="System.Data.SqlClient" />-->
    </connectionStrings>

    <appSettings>
        <add key="WriteInterval" value="0:0:0.002" />
        <add key="MeasureStartTime" value="2011-09-16 0:0:0.100" />
        <add key="MeasureEndTime" value="2011-09-16 5:0:0" />
        <add key="MeasureInterval" value="0:0:1" />
        <add key="BackfillTimeSpan" value="0:5:0" />
    </appSettings>

    <!--conversion matrix
    -0.9523842761362074     -0.0795111297296901     0           0
    -0.30490029611089636    -0.9968339782777814     0           0
    0                       0                       1           0
    284242.660              141313.207              -2.798      1
    -->

    <pipeTracks>
        <!--<pipe index="1" id="1" StartTime="2011-11-12 9:0:0.100" EndTime="2011-11-12 10:0:0.100" BackfillTimeSpan="0:0:0">
            <pos index="1">
                <point index="1" X="-55223.9147" Y="-26722.6308" Z="2.9877981"/>
                <point index="2" X="-125104.9918" Y="-30798.7559" Z="2.845427"/>
            </pos>
            <pos index="2">
                <point index="1" X="236899.0084" Y="-22883.5091" Z="2.9877981"/>
                <point index="2" X="166918.2462" Y="-24518.3368" Z="2.845427"/>
            </pos>
        </pipe>
        <pipe index="2" id="1" StartTime="2011-11-12 10:30:0.30" EndTime="2011-11-12 11:30:30.100" BackfillTimeSpan="0:5:0">
            <pos index="1">
                <point index="1" X="236899.0084" Y="-22883.5091" Z="2.9877981"/>
                <point index="2" X="166918.2462" Y="-24518.3368" Z="2.845427"/>
            </pos>
            <pos index="2">
                <point index="1" X="2.84031e+5" Y="1.41315e+5" Z="-3.865338"/>
                <point index="2" X="2.84086e+5" Y="1.41318e+5" Z="2.020754"/>
            </pos>
        </pipe>-->
        <pipe index="1" id="1" StartTime="2011-11-12 9:0:0.100" EndTime="2011-11-12 10:0:0.100" BackfillTimeSpan="0:0:0">
            <pos index="1">
                <point index="1" X="284170.364583" Y="141314.161482" Z="15.625010"/>
                <point index="2" X="284115.563813" Y="141330.644991" Z="8.738918"/>
            </pos>
            <pos index="2">
                <point index="1" X="284450.535245" Y="141408.207778" Z="5.945338"/>
                <point index="2" X="284395.734475" Y="141428.691286" Z="0.059246"/>
                <!--<point index="1" X="208.2352452" Y="97.6077776" Z="6.6633377"/>
                <point index="2" X="153.4344751" Y="76.0912860" Z="0.7772461"/>-->
            </pos>
        </pipe>
        <pipe index="2" id="2" StartTime="2011-11-12 13:0:0.30" EndTime="2011-11-12 15:0:30.100" BackfillTimeSpan="0:5:0">
            <pos index="1">
                <point index="1" X="284192.025600" Y="141258.590930" Z="15.750588"/>
                <point index="2" X="284136.616211" Y="141238.638645" Z="13.170513"/>
            </pos>
            <pos index="2">
                <point index="1" X="284372.397088" Y="141378.049439" Z="1.720143"/>
                <point index="2" X="284316.998986" Y="141358.101218" Z="-0.860235"/>
            </pos>
        </pipe>
        <pipe index="3" id="3" StartTime="2011-11-12 16:0:0.20" EndTime="2011-11-12 18:0:30.100" BackfillTimeSpan="0:5:0">
            <pos index="1">
                <point index="1" X="284212.615165" Y="141207.384686" Z="15.916674"/>
                <point index="2" X="284156.537244" Y="141188.834091" Z="13.040867"/>
            </pos>
            <pos index="2">
                <point index="1" X="284295.909562" Y="141350.829160" Z="2.140115"/>
                <point index="2" X="284239.831641" Y="141332.278565" Z="2.764308"/>
            </pos>
        </pipe>
        <!--<pipe id="1">
            <pos index="1">
                <point index="1" X="-66355.9992" Y="-28004.8168" Z="16343.0097"/>
                <point index="2" X="-125212.1496" Y="-26577.4544" Z="13456.9181"/>
            </pos>
            <pos index="2">
                <point index="1" X="17966.1037" Y="-22985.5676" Z="16194.1382"/>
                <point index="2" X="-40890.0467" Y="-21558.2052" Z="13308.0466"/>
            </pos>
            <pos index="3">
                <point index="1" X="229077.7855" Y="-20311.6664" Z="6663.3377"/>
                <point index="2" X="170221.6351" Y="-18884.3040" Z="777.2461"/>
            </pos>
        </pipe>
        <pipe id="1">
            <pos index="1">
                <point index="1" X="-66355.9992" Y="-28004.8168" Z="16343.0097"/>
                <point index="2" X="-125212.1496" Y="-26577.4544" Z="13456.9181"/>
            </pos>
            <pos index="2">
                <point index="1" X="17966.1037" Y="-22985.5676" Z="16194.1382"/>
                <point index="2" X="-40890.0467" Y="-21558.2052" Z="13308.0466"/>
            </pos>
            <pos index="3">
                <point index="1" X="229077.7855" Y="-20311.6664" Z="6663.3377"/>
                <point index="2" X="170221.6351" Y="-18884.3040" Z="777.2461"/>
            </pos>
        </pipe>
        <pipe id="2">
            <pos index="1">
                <point index="1" X="-65056.7454" Y="31624.0175" Z="16468.5881"/>
                <point index="2" X="-123948.4365" Y="31373.3169" Z="13888.5132"/>
            </pos>
            <pos index="2">
                <point index="1" X="-60413.8288" Y="-22538.6189" Z="16467.0115"/>
                <point index="2" X="-119305.52" Y="-22789.3195" Z="13886.9366"/>
            </pos>
            <pos index="3">
                <point index="1" X="36623.4014" Y="-20436.2971" Z="16296.1381"/>
                <point index="2" X="-22268.2897" Y="-20686.9977" Z="13716.0632"/>
            </pos>
            <pos index="4">
                <point index="1" X="145335.8732" Y="-18766.0125" Z="2438.1428"/>
                <point index="2" X="86456.178" Y="-19016.662" Z="-142.2348"/>
            </pos>
        </pipe>
        <pipe id="3">
            <pos index="1">
                <point index="1" X="-63267.9612" Y="86785.6880" Z="16634.6744"/>
                <point index="2" X="-122307.1845" Y="84989.0553" Z="13758.867"/>
            </pos>
            <pos index="2">
                <point index="1" X="-58630.4801" Y="-24187.4685" Z="16640.0162"/>
                <point index="2" X="-117669.7034" Y="-25984.1012" Z="13764.2088"/>
            </pos>
            <pos index="3">
                <point index="1" X="38335.9235" Y="-19765.3163" Z="16468.9853"/>
                <point index="2" X="-20703.2998" Y="-21561.949" Z="13593.1779"/>
            </pos>
            <pos index="4">
                <point index="1" X="64151.7326" Y="-19414.5728" Z="2858.1149"/>
                <point index="2" X="5112.5093" Y="-21211.2055" Z="3482.3075"/>
            </pos>
        </pipe>-->
        <!--vertical direction movement (along Z-Axis)-->
        <!--<pipeSection1 startX1="229077.7855" startY1="-20311.6664" startZ1="16663.3377"
                      startX2="170221.6351" startY2="-18884.3040" startZ2="10777.2461"
                      endX1="229077.7855" endY1="-20311.6664" endZ1="6663.3377"
                      endX2="170221.6351" endY2="-18884.3040" endZ2="777.2461"/>

        <pipeSection2 startX1="145335.8732" startY1="-18766.0125" startZ1="12438.1428"
                      startX2="86444.1821" startY2="-19016.7131" startZ2="9858.0679"
                      endX1="145335.8732" endY1="-18766.0125" endZ1="2438.1428"
                      endX2="86444.1821" endY2="-19016.7131" endZ2="-141.9321"/>
        
        <pipeSection3 startX1="64151.7326" startY1="-19414.5728" startZ1="12858.1149"
                      startX2="5112.5093" startY2="-21211.2055" startZ2="13482.3075"
                      endX1="64151.7326" endY1="-19414.5728" endZ1="2858.1149"
                      endX2="5112.5093" endY2="-21211.2055" endZ2="3482.3075"/>-->

        <!--<pipeSection2 startX1="145335.8732" startY1="-18766.0125" startZ1="12438.1428"
                      startX2="22447.8712" startY2="-83165.1015" startZ2="15926.4146"
                      endX1="145335.8732" endY1="-18766.0125" endZ1="2438.1428"
                      endX2="22447.8712" endY2="-83165.1015" endZ2="5926.4146"/>-->

        <!--horizontal direction movement (along Y-Axis)-->
        <!--<pipeSection1 startX1="-226248.224" startY1="130098.901" startZ1="-6698.504"
                      startX2="-169000.963" startY2="116032.938" startZ2="-6527.869"
                      endX1="-226248.224" endY1="70098.901" endZ1="-6698.504"
                      endX2="-169000.963" endY2="56032.938" endZ2="-6527.869"/>

        <pipeSection2 startX1="-144803.078" startY1="110463.118" startZ1="-5649.716"
                      startX2="-87288.36" startY2="97957.599" startZ2="-2112.697"
                      endX1="-144803.078" endY1="50463.118" endZ1="-5649.716"
                      endX2="-87288.36" endY2="37957.599" endZ2="-2112.697"/>

        <pipeSection3 startX1="-65513.397" startY1="93306.774" startZ1="-108.073"
                      startX2="-7866.605" startY2="82319.603" startZ2="6721.238"
                      endX1="-65513.397" endY1="33306.774" endZ1="-108.073"
                      endX2="-7866.605" endY2="22319.603" endZ2="6721.238"/>-->


        <!--arbitrary direction movement-->
        <!--<pipeSection1 startX1="-196248.224" startY1="150098.901" startZ1="23301.496"
                      startX2="-139000.963" startY2="136032.938" startZ2="23472.131"
                      endX1="-226248.224" endY1="70098.901" endZ1="-6698.504"
                      endX2="-169000.963" endY2="56032.938" endZ2="-6527.869"/>

        <pipeSection2 startX1="-141803.078" startY1="130463.118" startZ1="24350.284"
                      startX2="-84288.36" startY2="117957.599" startZ2="27887.303"
                      endX1="-144803.078" endY1="50463.118" endZ1="-5649.716"
                      endX2="-87288.36" endY2="37957.599" endZ2="-2112.697"/>

        <pipeSection3 startX1="-95513.397" startY1="113306.774" startZ1="29891.927"
                      startX2="-37866.605" startY2="102319.603" startZ2="36721.238"
                      endX1="-65513.397" endY1="33306.774" endZ1="-108.073"
                      endX2="-7866.605" endY2="22319.603" endZ2="6721.238"/>-->

        
        
        
        <!--<pipeSection id="4" startX1="1000.0" startY1="1000.0" startZ1="1000.0"
                        startX2="1000.0" startY2="1000.0" startZ2="1000.0"
                        endX1="141533.736000" endY1="284370.575000" endZ1="-10.390000"
                        endX2="141593.438231" endY2="284370.575000" endZ2="-16.360223"/>-->
    </pipeTracks>
</configuration>