<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <section name="pipeSection" type="System.Configuration.SingleTagSectionHandler" />
    </configSections>

    <connectionStrings>
        <add name="SQLDBConn" connectionString="Data Source=(local);Initial Catalog=MeasureDB;User Id=PipeAdmin;Password=pipe;"
             providerName="System.Data.SqlClient" />
        <!--<add name="SQLDBConn" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=MeasureDB;User Id=PipeAdmin;Password=pipe;"
             providerName="System.Data.SqlClient" />-->
    </connectionStrings>

    <appSettings>
        <add key="WriteInterval" value="0:0:0.030" />
        <add key="StartTime" value="2011-08-25 0:0:0" />
        <add key="EndTime" value="2011-09-05 0:0:0" />
        <add key="TimeInterval" value="0:0:1" />
    </appSettings>

    <pipeSection id="1" startX1="1000.0" startY1="1000.0" startZ1="1000.0"
                        startX2="1000.0" startY2="1000.0" startZ2="1000.0"
                        endX1="141533.736000" endY1="284370.575000" endZ1="-10.390000"
                        endX2="141593.438231" endY2="284370.575000" endZ2="-16.360223"/>
    
    <pipeSection id="2" startX1="1000.0" startY1="1000.0" startZ1="1000.0"
                        startX2="1000.0" startY2="1000.0" startZ2="1000.0"
                        endX1="141533.736000" endY1="284370.575000" endZ1="-10.390000"
                        endX2="141593.438231" endY2="284370.575000" endZ2="-16.360223"/>
    
    <pipeSection id="3" startX1="1000.0" startY1="1000.0" startZ1="1000.0"
                        startX2="1000.0" startY2="1000.0" startZ2="1000.0"
                        endX1="141533.736000" endY1="284370.575000" endZ1="-10.390000"
                        endX2="141593.438231" endY2="284370.575000" endZ2="-16.360223"/>
    
    <pipeSection id="4" startX1="1000.0" startY1="1000.0" startZ1="1000.0"
                        startX2="1000.0" startY2="1000.0" startZ2="1000.0"
                        endX1="141533.736000" endY1="284370.575000" endZ1="-10.390000"
                        endX2="141593.438231" endY2="284370.575000" endZ2="-16.360223"/>
</configuration>