<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <sectionGroup name="pipes" type="System.Configuration.NameValueSectionHandler">
            <section name="pipeSection1" type="System.Configuration.SingleTagSectionHandler" />
            <section name="pipeSection2" type="System.Configuration.SingleTagSectionHandler" />
            <section name="pipeSection3" type="System.Configuration.SingleTagSectionHandler" />
        </sectionGroup>
    </configSections>

    <connectionStrings>
        <add name="SQLDBConn" connectionString="Data Source=(local);Initial Catalog=MeasureDB;User Id=PipeAdmin;Password=pipe;"
             providerName="System.Data.SqlClient" />
        <!--<add name="SQLDBConn" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=MeasureDB;User Id=PipeAdmin;Password=pipe;"
             providerName="System.Data.SqlClient" />-->
    </connectionStrings>

    <appSettings>
        <add key="WriteInterval" value="0:0:0.020" />
        <add key="MeasureStartTime" value="2011-09-16 0:0:0.100" />
        <add key="MeasureEndTime" value="2011-09-16 1:03:0" />
        <add key="MeasureInterval" value="0:0:1" />
        <add key="BackfillTimeSpan" value="0:5:0" />
    </appSettings>

    <pipes>
        <!--<pipeSection1 startX1="1000.0" startY1="1000.0" startZ1="1000.0"
                      startX2="1000.0" startY2="1000.0" startZ2="1000.0"
                      endX1="-164602.037" endY1="54997.802" endZ1="-6294.365"
                      endX2="-221830.792" endY2="69117.698" endZ2="-6709.114"/>-->
        <pipeSection1 startX1="-164602.037" startY1="54997.802" startZ1="3705.635"
                      startX2="-221830.792" startY2="69117.698" startZ2="3290.886"
                      endX1="-164602.037" endY1="54997.802" endZ1="-6294.365"
                      endX2="-221830.792" endY2="69117.698" endZ2="-6709.114"/>

        <!--<pipeSection2 startX1="1000.0" startY1="1000.0" startZ1="1000.0"
                      startX2="1000.0" startY2="1000.0" startZ2="1000.0"
                      endX1="-82908.89" endY1="37003.969" endZ1="-1711.661"
                      endX2="-140408.217" endY2="49508.798" endZ2="-5493.285"/>-->
        <pipeSection2 startX1="-82908.89" startY1="37003.969" startZ1="8288.339"
                      startX2="-140408.217" startY2="49508.798" startZ2="4506.715"
                      endX1="-82908.89" endY1="37003.969" endZ1="-1711.661"
                      endX2="-140408.217" endY2="49508.798" endZ2="-5493.285"/>

        <!--<pipeSection3 startX1="1000.0" startY1="1000.0" startZ1="1000.0"
                      startX2="1000.0" startY2="1000.0" startZ2="1000.0"
                      endX1="-3451.053" endY1="21569.832" endZ1="7367.242"
                      endX2="-61071.946" endY2="32554.651" endZ2="321.343"/>-->
        <pipeSection3 startX1="-3451.053" startY1="21569.832" startZ1="17367.242"
                      startX2="-61071.946" startY2="32554.651" startZ2="10321.343"
                      endX1="-3451.053" endY1="21569.832" endZ1="7367.242"
                      endX2="-61071.946" endY2="32554.651" endZ2="321.343"/>

        <!--<pipeSection id="4" startX1="1000.0" startY1="1000.0" startZ1="1000.0"
                        startX2="1000.0" startY2="1000.0" startZ2="1000.0"
                        endX1="141533.736000" endY1="284370.575000" endZ1="-10.390000"
                        endX2="141593.438231" endY2="284370.575000" endZ2="-16.360223"/>-->
    </pipes>
</configuration>