<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="connectionSection" type="PipeSimulation.Utility.ConnectionSection, ImmersedTube3D, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    
    <!--<connectionStrings>
        <add name="SQLDBConn" connectionString="Data Source=(local);Initial Catalog=MeasureDB;User Id=pipe;Password=pipe;"
             providerName="System.Data.SqlClient" />
        --><!--<add name="SQLDBConn" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=MeasureDB;User Id=pipe;Password=pipe;"
             providerName="System.Data.SqlClient" />--><!--
        
        --><!-- for Wangbo--><!--
      --><!--<add name="SQLDBConn" connectionString="Data Source=192.168.6.88;Initial Catalog=MeasureDB;User Id=sa;Password=sql_123;"
     providerName="System.Data.SqlClient" />--><!--
    </connectionStrings>-->

    <!-- Rename App.config to Web.config, then execute
    aspnet_regiis -pef "connectionStrings" E:\Project\CAE\Pipe\Document-->
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>gAx0vspH+90OyidtSe1HMGxj3NvvDzX+pzFrZyf5bf70HGV/yyHWDw2rYV7Zj09EzFTqShiU+svD+I4G0nDtu6xNLFkUzZGfAbwWXU5gbQt08gcZnO9iGYSF9uyqWD0a8n7WFrR3AITXHR9O/4JhbABk4l4VKnFL5zqD8KD3qWc=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>sQpEejw+k4v8ZprLbOyxxPCqYq3xHluT5WJvHaW7Lg8idvFnOCZ6pd+H9FInMStQsVhkiSKvtJe8RZTBuwKLZaxRcNPnX2LhLcoxJpE8+fl6KB+CSonsLVAZ+U1GZ8iFjxkwIgQnYwoC9BliFztSj+DMeRHA9+PuGVJG/3Ufp9ZTADgMZOAllpLScPx3m+X58jr4BaN39Ajo6PvKDVN+k98PJGXK4rPaYLnxA7UFYudJpDQVkFfeISmEyq//yaLth+fynTOqDaMsprawWCmqQdAHPdBcB6aS</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>

    <connectionSection AutoConnect="true" AutoConnectInterval="0:0:5" ReadInterval="0:0:0.500"/>
</configuration>