<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SQLDBConn" connectionString="Data Source=(local);Initial Catalog=MeasureDB;User Id=pipe;Password=pipe;"
             providerName="System.Data.SqlClient" />
        <!--<add name="SQLDBConn" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=MeasureDB;User Id=pipe;Password=pipe;"
             providerName="System.Data.SqlClient" />-->
    </connectionStrings>

    <appSettings>
        <add key="ReadInterval" value="500" />
    </appSettings>
</configuration>