<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="connectionSection" type="PipeSimulation.Utility.ConnectionSection,
                 ImmersedTube3D, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    
    <connectionStrings>
        <add name="SQLDBConn" connectionString="Data Source=(local);Initial Catalog=MeasureDB;User Id=pipe;Password=pipe;"
             providerName="System.Data.SqlClient" />
        <!--<add name="SQLDBConn" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=MeasureDB;User Id=pipe;Password=pipe;"
             providerName="System.Data.SqlClient" />-->
    </connectionStrings>

    <connectionSection AutoConnect="true" ReadInterval="0:0:0.500"/>
</configuration>