<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <!--<sectionGroup name="pipes" type="System.Configuration.NameValueSectionHandler">
            <section name="pipeSection1" type="System.Configuration.SingleTagSectionHandler" />
            <section name="pipeSection2" type="System.Configuration.SingleTagSectionHandler" />
            <section name="pipeSection3" type="System.Configuration.SingleTagSectionHandler" />
        </sectionGroup>-->
        <section name="pipeTracks" type="DataSimulation.PipeTracksSection, DataFix, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>

    <connectionStrings>
        <!--  Local use only -->
        <add name="SQLDBConn" connectionString="Data Source=(local);Initial Catalog=MeasureDB;User Id=PipeAdmin;Password=pipe;"
             providerName="System.Data.SqlClient" />

        <!--<add name="SQLDBConn" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=MeasureDB;User Id=PipeAdmin;Password=pipe;"
             providerName="System.Data.SqlClient" />-->
        
    </connectionStrings>

    <appSettings>
        <add key="SourceTable" value="GPSMeasureToFix" />
        <add key="TargetTable" value="GPSMeasureFixed" />
    </appSettings>

    <!--conversion matrix
    -0.9523842761362074     -0.0795111297296901     0           0
    -0.30490029611089636    -0.9968339782777814     0           0
    0                       0                       1           0
    284242.660              141313.207              -2.798      1
    -->

    <pipeTracks>
        <track index="1" StartTime="2011-11-12 9:0:0.100" EndTime="2011-11-12 11:0:0.100"
               X="-5.41796965510592" Y="-1.35100439365621" Z="-0.0318"/>
        <track index="2" StartTime="2011-11-12 11:0:01.100" EndTime="2011-11-12 11:21:01.000"
               X="-5.2295" Y="-1.9573" Z="-0.0318"/>
    </pipeTracks>
</configuration>